h1{
    background-color: aqua;
    font-size: large;
    font-style: italic;
}
footer{
    background-color: blanchedalmond;
    
}
nav{
    background-color: gray;
}
img{
    width="400px";
    height: 400px;
}
